/* ============================= */
/* GOOGLE FONT */
/* ============================= */

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;600;700&display=swap');
/* ============================= */
/* ROOT VARIABLES */
/* ============================= */

:root { 
  --nav-logo-clr:#009900; 
  --nav-link-clr:#333;
  --nav-active-clr:#00e600;
  --green-bg-clr:#00ab41;
  --dark-green-clr:#ecf9ec;
  --gray-clr:#cefad0;
  --darkst-clr: #006600; 
  --gallery-bg-clr:hsl(0, 0%, 100%);
  --start-btn-clr:#ecf9ec;
  --black-clr:#3a3f44;
  --inout-clr:#04AA6D;
  --dropdown-clr:#3e8e41;
}

/* ============================= */
/* GLOBAL RESET */
/* ============================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Plus Jakarta Sans", sans-serif;
}

body{
    background:#ffffff;
}



/* ============================= */
/* NAVBAR */
/* ============================= */

.header {
    height: 75px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    border-bottom:
        1px solid #e5e7eb;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo {
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 8px;
}
.header nav {
    display: flex;
    gap: 35px;
}
.header nav a {
    text-decoration: none;
    color: #64748b;
    font-weight: 500;
}


.header nav a:hover {
    color: #2563eb;
}
.profile-btn {
    border: none;
    background: #eff6ff;
    color: #2563eb;
    padding:
        10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

/* ============================= */
/* MAIN CONTAINER */
/* ============================= */

.main-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 80px; 
}

.sidebar-wrapper {
  width: 250px; 
  flex-shrink: 0;
  position: relative;
}

/* SIDEBAR */
#sidebar{
  width:250px;
  background: var(--green-bg-clr);
  color:white;
  padding:20px;
  border-radius:10px;
}

.sidebar-fixed {
  position: fixed;
  top: 80px;
  left: 20px; 
  width: 250px; 
}

.sidebar-bottom {
  position: absolute;
  bottom: 0;
}
/* ============================= */
/* RADIO */
/* ============================= */


.radio-container{
  display:flex;
  justify-content:space-between;
  margin:10px 0;
  cursor:pointer;
}
.radio-container input{display:none;}
.checkmark{
  width:18px;
  height:18px;
  background:#eee;
  border-radius:50%;
}
.radio-container input:checked + .checkmark{
  background: var(--darkst-clr);
}

/* MAIN */
main{
  background:white;
  padding:20px;
  border-radius:10px;
}

main h2{
    font-size: 32px;
    font-weight: 750;
}
main p{
    margin-top: 5px;
    color: gray;
}
/* SEARCH CONTAINER */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: white;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 5px;
}

.col:first-child {
  flex: 1; 
}
.col:last-child {
  flex-shrink: 0;
}
input[type=text]{
    width: 100%;
    font-size: 16px;
    padding: 11px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type=text]:focus{
  border-color:  var(--inout-clr);
}

/* COLUMN */
.col{
  margin: 5px;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: var(--inout-clr);
  color: white;
  padding: 12px 18px;
  font-size: 16px;
  min-width: 180px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropbtn:hover {
  background-color: var(--dropdown-clr);
}

/* DROPDOWN CONTENT */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 180px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}


/* ============================= */
/* PRODUCT GRID */
/* ============================= */

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gallery{
    border:1px solid #eee;
    border-radius:10px;
    overflow:hidden;
    background:hsl(0, 0%, 100%);
    transition:0.3s;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}
.gallery img{
    width:100%;
    height:300px;
    object-fit:cover;
}
img:hover{
    transform: scale(1.1);
    transition: 0.3s ease-out;
}
.hide{
  display:none !important;
}

.desc{
    padding:10px;
}
.dec h4{
    padding: 5px;
}
.desc p{
    color:gray;
    font-size:14px;
    line-height: 1.4;
}

.price{
    font-weight:700;
    color:#00ab41;
}

.card-bottom{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:10px;
}

.addcart{
    background: var(--green-bg-clr);
    border:none;
    border-radius:8px;
    padding:10px;
    color:white;
}

.addcart:hover{
    background: var(--darkst-clr);
}


/* ============================= */
/* FOOTER */
/* ============================= */

.footer{
    display:flex;
    justify-content:space-between;
    padding:60px 100px;
    margin-top:-5px;
    background:black;
    gap:80px;
}

.footer h2{
    color:white;
    font-size:16px;
    margin-bottom: 15px;
}

.footer p{
    color:gray;
    font-size: 14px;
}

ul{
    list-style:none;
}

li a{
    color:gray;
    text-decoration:none;
    line-height:1.8;
    font-size: 14px;
}
li a:hover{
  color: white;
}
.social-icons{
    display:flex;
    gap:15px;
    margin-top:10px;
}

.social-icons a{
    color:gray;
    font-size:20px;
}
.social-icons a:hover{
  color: white;
}
.footer-bottom{
    background:black;
    color:gray;
    text-align:center;
    padding:40px;
    border-top:1px solid var(--black-clr);
}


/* ============================= */
/* RESPONSIVE */
/* ============================= */

@media (max-width:600px){
    .navbar{
        padding:15px;
        flex-wrap:wrap;
    }

    .logo{
        font-size:18px;
    }

    .nav-links{
        width:100%;
        display:none;
        flex-direction:column;
        gap:15px;
        margin-top:20px;
        text-align:center;
    }

    .nav-links.responsive{
        display:flex;
    }

    .nav-links a{
        font-size:14px;
    }

    .menu-icon{
        display:block;
        font-size:22px;
        cursor:pointer;
    }

    .nav-icons{
        gap:10px;
        font-size:16px;
    }
    /* MENU */
    .menu-icon{
        display:block;
        font-size:22px;
        cursor:pointer;
    }
    .search-container {
      flex-direction: column;
      align-items: stretch;
    }
    /* PRODUCTS  */
    .products {
      grid-template-columns: 1fr;
    }
    .dropbtn {
      width: 100%;
    }
    .search-container {
      flex-direction: column;
      align-items: stretch;
    }

    input[type=text]{
      max-width: 100%;
    }
}
@media (max-width: 1000px) {
  .products {
    grid-template-columns:  1fr;
  }

  .main-container {
    flex-direction: column;
  }

  .sidebar-wrapper {
    width: 100%;
  }

  .sidebar-fixed {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
  }

  .footer{
    flex-direction:column;
    padding:40px 20px;
    gap:30px;
  }
  .footer h1 {
    font-size: 16px;
  }

  .footer h2 {
    font-size: 15px;
  }
  .footer-bottom{
    font-size: 15px;
  }
}

/* RESPONSIVE */
@media(max-width:900px){
  .container{
    grid-template-columns:1fr;
  }
  .sidebar-wrapper{
    width: 100%;
  }

  #sidebar{
    width: 100%;
    position: relative !important;
    top: auto !important;
    left: auto !important;
  }

  .sidebar-fixed,
  .sidebar-bottom{
    position: relative !important;
  }

}
}